<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4132543.js"></script>
<!-- End of HubSpot Embed Code -->

<meta name="flattr:id" content="qjy9np">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-tomorrow.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script>
  Prism.plugins.autoloader.languages_path = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/'
</script>

<style>
  @font-face {
  font-family: 'Source Code Pro';
  src: url("https://fonts.googleapis.com/css?family=Source+Code+Pro") format('truetype');
}

pre code {
  font-family: 'Source Code Pro', Consolas, monaco, monospace !important;
  font-size: 0.9rem !important;
  line-height: 1.4rem;
}

.hljs-deletion {
  color: #b31d28 !important;
}

.hljs-addition {
  color: #22863a !important;
}


.rbl1 {
  color: #ccc !important;
}

.rbl2 {
  color: #0098e6 !important;
}

.rbl3 {
  color: #e16d6d !important;
}

.rbl4 {
  color: #3fa455 !important;
}

.rbl5 {
  color: #c968e6 !important;
}

.rbl6 {
  color: #999999 !important;
}

.rbl7 {
  color: #E69F00 !important;
}

.rbl8 {
  color: #56B4E9 !important;
}

.rbl9 {
  color: #009E73 !important;
}

.rbl10 {
  color: #F0E442 !important;
}

.rbl11 {
  color: #0072B2 !important;
}

.rbl12 {
  color: #CC79A7 !important;
}

</style>
